<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:replace="~{/include/title.html::title}"></title>

<link rel="stylesheet" th:href="@{/css/common/common.css}">
<link rel="stylesheet" th:href="@{/css/common/header_nav_footer.css}">

</head>
<body>

	<header th:replace="~{/include/header_nav_footer.html::header}">
	
	</header>
	
	<nav th:replace="~{/include/header_nav_footer.html::nav}">
	
	</nav>
	
	<section>
		<div id="section_wrap">
		
			<div class="word">
				SORRY. ACCESS DENIED.
				<br>
				PLEASE CONTACT ADMINISTRATOR.
			</div>
			
		</div>
	</section>
	
	<footer th:replace="~{/include/header_nav_footer.html::footer}">
	
	</footer>

</body>
</html>