<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script th:src="@{/js/find_idpw_form.js}"></script>
<link rel="stylesheet" th:href="@{/css/member/find_form.css}">
</head>
<body>
    <section>
        <div id="section_wrap">
            <h3>비밀번호 찾기</h3>
            <p>입력된 정보로 임시 비밀번호가 전송됩니다.</p>
            <form th:action="@{/member/find_password_confirm}" name="find_password_form" method="post">
                <input type="text" name="a_m_id" placeholder="아이디"> <br>
                <input type="text" name="a_m_name" placeholder="이름"> <br>
                <input type="text" name="a_m_mail" placeholder="메일 주소"> <br>
                <input type="button" value="비밀번호 찾기" onclick="findPassword();">
            </form>
        </div>
    </section>
</body>
</html>
