<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:replace="~{include/title.html::title}"></title>
<link rel="stylesheet" th:href="@{/css/common/common.css}">
<link rel="stylesheet" th:href="@{/css/common/header_nav_footer.css}">
<link rel="stylesheet" th:href="@{/css/member/login.css}">
<script th:src="@{/js/member_login_form.js}"></script>
</head>
<body>

    <header th:replace="~{/include/header_nav_footer.html::header}"></header>
    
    <nav th:replace="~{/include/header_nav_footer.html::nav}"></nav>

    <section>
        <div id="section_wrap">
            <h3>관리자 로그인</h3><br>

            <div>
                <form th:action="@{/member/member_login_confirm}" name="member_login_form" method="post">
                    <input type="text" id="username" name="a_m_id" placeholder="ID"><br>
                    <input type="password" name="a_m_pw" placeholder="비밀번호"><br>

                    <input type="button" value="로그인" onclick="memberLoginForm();">
                </form>
                <br>
                <p>
                    <!-- <a href="javascript:void(0)" class="button" onclick="findid()">아이디 찾기</a>
                    <a href="javascript:void(0)" class="button" onclick="findpw()">비밀번호 찾기</a> -->
                    계정이 없다면?
                    <a href="/member/create_account_form" class="button">계정생성</a>
                </p>
            </div>
        </div>
    </section>

    <footer th:replace="~{/include/header_nav_footer.html::footer}"></footer>

    <script type="text/javascript">
        function findid() {
            var url = "/member/find_id_form";
            window.open(url, "_blank", "toolbar=no, menubar=no, scrollbars=yes, resizable=no, width=500, height=500");
        }

        function findpw() {
            var url = "/member/find_password_form";
            window.open(url, "_blank", "toolbar=no, menubar=no, scrollbars=yes, resizable=no, width=500, height=500");
        }
    </script>
</body>
</html>
